body {
    background: url('../images/content-bg.png') top left repeat;
}

.green {
    color:green;
}

.blue {
    color:blue;
}

.purple {
    color:purple;
}

.orange {
    color:orange;
}

.navbar {
    margin-bottom:0;
}

.jumbotron {
    background-color: #337ab7;
    color:white;
}

#blurb, .middle, .middle-contacts {
    width:85%;
    margin:auto;
}

.middle-contacts {
    width: 35%;
}

.media-middle img {
    height:100px;
    width:100px;
}

.tag {
    display:inline-block;
    margin-right: 5px;
}

.img-article {
    height:auto;
    max-width: 800px;
}

.navbar {
    opacity:0.90;
}

.navbar-subsite {
    margin-top:50px;
}

.content-container {
    margin-top:130px;
}

.content-container-sm {
    margin-top:50px;
}