body {
    background: url('../images/content-bg.png') top left repeat;
    font-family: -apple-system, "PingFang SC","Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 16px;
    line-height:1.7;
}

.green {
    color:green;
}

.blue {
    color:blue;
}

.purple {
    color:purple;
}

.orange {
    color:orange;
}

.navbar {
    margin-bottom:0;
}

.middle-contacts {
    width: 35%;
}

.media-middle img {
    height:100px;
    width:100px;
}

.tag {
    display:inline-block;
    margin-right: 5px;
}

.img-article {
    height:auto;
    max-width: 800px;
}

.navbar {
    opacity:0.90;
}

.navbar-subsite {
    margin-top:50px;
}

.content-container {
    width:90%;
    max-width:1500px;
    margin: 130px auto;
}

.list-item {
    margin-bottom:45px;
}

.sidebar {
    max-width: 240px;
}

.img-circle {
    box-shadow: 0 0 2px black;
}