<div class="navbar navbar-default navbar-fixed-top navbar-subsite">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Tutorials / How-To's</span>
        </div>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.appQuery">
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="list-item" ng-repeat="tut in $ctrl.tutorials | filter:$ctrl.appQuery | orderBy:$ctrl.orderProp">
                    <h4><a href="/tutorials/{{tut.name}}" style="text-decoration: none;">{{ tut.title }}</a></h4>
                    <div>
                        <span class="label label-default tag" ng-repeat="tag in tut.tags">{{ tag }}</span>
                    </div>
                    <p>{{ tut.synopsis }}</p>               
        </div>
    </div>
</div>